<head>    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"> 
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
    <link rel="stylesheet" href="/Content/editor.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- buttons -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <!-- select -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
 
<script src="/Scripts/dataTables.editor.js"></script>
<script type="text/javascript" charset="utf8">
(function($){

$(document).ready(function() {
	var editor = new $.fn.dataTable.Editor( {
		ajax: '/TOAH/table',
		table: '#example',
		fields: [
			{
				"label": "OrderId:",
				"name": "OrderId"
			},
			{
				"label": "OrderDate:",
				"name": "OrderDate"
			},
			{
				"label": "RequestDate:",
				"name": "RequestDate"
			},
			{
				"label": "RequestedItems:",
				"name": "RequestedItems"
			},
			{
				"label": "Inventory1:",
				"name": "Inventory1"
			},
			{
				"label": "Inventory2:",
				"name": "Inventory2"
			},
			{
				"label": "Inventory3:",
				"name": "Inventory3"
			},
			{
				"label": "Inventory4:",
				"name": "Inventory4"
			}
		]
	} );

	var table = $('#blahblah').DataTable( {
		dom: 'Bfrtip',
		ajax: '/api/blahblah',
		columns: [
			{
				"data": "OrderId"
			},
			{
				"data": "OrderDate"
			},
			{
				"data": "RequestDate"
			},
			{
				"data": "RequestedItems"
			},
			{
				"data": "Inventory1"
			},
			{
				"data": "Inventory2"
			},
			{
				"data": "Inventory3"
			},
			{
				"data": "Inventory4"
			}
		],
		select: true,
		lengthChange: false,
		buttons: [
			{ extend: 'create', editor: editor },
			{ extend: 'edit',   editor: editor },
			{ extend: 'remove', editor: editor }
		]
	} );
} );

}(jQuery));
        
</script>
</head>

<h2>TOAH Orders</h2>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </tfoot>
    </table>


