<head>    <!-- DataTables CSS -->
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/moment-2.13.0/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="Content/editor.dataTables.min.css">

	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/moment-2.13.0/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="Scripts/dataTables.editor.js"></script>
	

<script type="text/javascript" charset="utf8">
(function($){

$(document).ready(function() {
	var editor = new $.fn.dataTable.Editor( {
		ajax: '/api/table',
		table: '#example',
		fields: [
			{
				"label": "Order.Id:",
				"name": "Order.Id"
			},
			{
				"label": "Order.RequestItems:",
				"name": "Order.RequestItems"
			},
			{
				"label": "Order.RequestDate:",
				"name": "Order.RequestDate"
			},
			{
				"label": "Order.Shipped:",
				"name": "Order.Shipped"
			},
			{
				"label": "Order.ShippedDate:",
				"name": "Order.ShippedDate"
			},
			{
				"label": "Order.InventoryItem1:",
				"name": "Order.InventoryItem1"
			},
			{
				"label": "Order.InventoryItem2:",
				"name": "Order.InventoryItem2"
			},
			{
				"label": "Order.InventoryItem3:",
				"name": "Order.InventoryItem3"
			},
			{
				"label": "Order.InventoryItem4:",
				"name": "Order.InventoryItem4"
			},
			{
				"label": "Order.ClientId:",
				"name": "Order.ClientId"
			}
		]
	} );

	var table = $('#example').DataTable( {
		dom: 'Bfrtip',
		ajax: {
			url: "/api/table",
			type: 'POST'
		},
		columns: [
			{
				"data": "Order.Id"
			},
			{
				"data": "Order.RequestItems"
			},
			{
				"data": "Order.InventoryItem1"
			},
			{
				"data": "Order.InventoryItem2"
			},
			{
				"data": "Order.InventoryItem3"
			},
			{
				"data": "Order.InventoryItem4"
			},
			{
				"data": "Client.email"
			}
		],
		select: true,
		lengthChange: false,
		buttons: [
			{ extend: 'create', editor: editor },
			{ extend: 'edit',   editor: editor },
			{ extend: 'remove', editor: editor }
		]
	} );
} );

}(jQuery));
        
</script>
</head>

<h2>TOAH Orders</h2>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>OrderId</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
				<th>email</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                
                <th>OrderId</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
				<th>email</th>
            </tr>
        </tfoot>
    </table>


