<head>    <!-- DataTables CSS -->
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/moment-2.13.0/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="Content/editor.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">

	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/moment-2.13.0/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="Scripts/dataTables.editor.js"></script>
	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
	
<ul>
    <li class="btn"><a href="#" class="all">All</a></li>
    <li class="btn"><a href="#">1</a></li>
    <li class="btn"><a href="#">0</a></li>
  </ul>

<script type="text/javascript" charset="utf8">
(function($){

$(document).ready(function() {
	var editor = new $.fn.dataTable.Editor( {
		ajax: '/api/table/getdata',
		table: '#example',
		fields: [
			{
				"label": "Order.RequestItems:",
				"name": "Order.RequestItems"
			},
			{
				"label": "Order.RequestDate:",
				"name": "Order.RequestDate"
			},
			{

				"label": "Order.StreetSize:",
				"name": "Order.StreetSize"
			},
			{
				"label": "Order.ShippedDate:",
				"name": "Order.ShippedDate"
			},
			{
				"label": "Order.InventoryItem1:",
				"name": "Order.InventoryItem1",
			},
			{
				"label": "Order.InventoryItem2:",
				"name": "Order.InventoryItem2"
			},
			{
				"label": "Order.InventoryItem3:",
				"name": "Order.InventoryItem3"
			},
			{
				"label": "Order.InventoryItem4:",
				"name": "Order.InventoryItem4"
			},
			{
				"label": "Order.InventoryItem5:",
				"name": "Order.InventoryItem5",
			},
			{
				"label": "Order.InventoryItem6:",
				"name": "Order.InventoryItem6"
			},
			{
				"label": "Order.InventoryItem7:",
				"name": "Order.InventoryItem7"
			},
			{
				"label": "Order.InventoryItem8:",
				"name": "Order.InventoryItem8"
			}
		]
	} );
	
	   // Activate an inline edit on click of a table cell
    $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
	
	var table = $('#example').removeAttr('width').DataTable( {
		pageLength: 50,
		dom: 'Bfrtip',
		ajax: {
			url: "/api/table/getdata",
			type: 'POST'
		},
        columnDefs: [
            { width: 200, targets: 0 },
			{ width: 100, targets: 1 },
			{ width: 50, targets: 2 }
        ],
        fixedColumns: true,
		columns: [
			{
				"data": "Order.Shipped"
			},
			{
				"data": "Order.Id"
			},
			{
				"data": "Client.customer_name"
			},
			{
				"data": "Order.Date"
			},
			{
				"data": "Order.RequestDate"
			},
			{
				"data": "Order.RequestItems"
			},
			{
				"data": "Order.StreetSize"
			},
			{
				"data": "Order.InventoryItem1",
			},
			{
				"data": "Order.InventoryItem2",
			},
			{
				"data": "Order.InventoryItem3",
			},
			{
				"data": "Order.InventoryItem4",
			},
			{
				"data": "Order.InventoryItem5",
			},
			{
				"data": "Order.InventoryItem6",
			},
			{
				"data": "Order.InventoryItem7",
			},
			{
				"data": "Order.InventoryItem8",
			},
			{
				"data": "Client.email"
			}

		],
		select: true,
		lengthChange: false,
		buttons: [
			{ extend: 'create', editor: editor },
			{ extend: 'edit',   editor: editor },
			{ extend: 'remove', editor: editor }
		]
	} );

	$('ul').on( 'click', '1', function () {
	table
		.columns( 1 )
		.search(  $(this).text() )
		.draw();
	});
} );

}(jQuery));
        
</script>
</head>

<h2>TOAH Orders</h2>
<table id="example" class="display"cellspacing="0" style="font-family:arial;font-size:10px">
        <thead>
            <tr>
                <th cellpadding="5px" >Shipped</th>
                <th>OrderId</th>
				<th>Name</th>
				<th>OrderDate</th>
				<th>RequestedDate</th>
                <th>RequestedItems</th>
				<th>StreetSize</th>
                <th>Inv1</th>
                <th>Inv2</th>
                <th>Inv3</th>
                <th>Inv4</th>
				<th>Inv5</th>
                <th>Inv6</th>
                <th>Inv7</th>
                <th>Inv8</th>
				<th>email</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Shipped</th>
                <th>OrderId</th>
				<th>Name</th>
				<th>OrderDate</th>
				<th>RequestedDate</th>
                <th>RequestedItems</th>
				<th>StreetSize</th>
				<th>Inv1</th>
                <th>Inv2</th>
                <th>Inv3</th>
                <th>Inv4</th>
				<th>Inv5</th>
                <th>Inv6</th>
                <th>Inv7</th>
                <th>Inv8</th>
				<th>email</th>
            </tr>
        </tfoot>
    </table>


