
<html>


<head>    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">


    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- buttons -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <!-- select -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8">

        var editor; // use a global for the submit and return data rendering in the examples
        
        var jquery = jQuery.noConflict();
        jquery(document).ready(function () {

        jquery('#example').dataTable( {
             "dom": "Bfrtip",
             "select": true,
            "processing": true,
            "ajax": {
            "url": "/TOAH/table",
            "type": "POST"
            },
            "columns": [
            { "data": "OrderId" },
            { "data": "OrderDate" },
            { "data": "RequestDate" },
            { "data": "RequestedItems" },
            { "data": "Inventory1" },
            { "data": "Inventory2" },
            { "data": "Inventory3" },
            { "data": "Inventory4" }
        ],
            buttons: [
            { extend: 'create', editor: editor },
            { extend: 'edit',   editor: editor },
            { extend: 'remove', editor: editor }
        ]
        });
        jquery('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
    });
</script>
</head>
<h2>TOAH Orders</h2>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </tfoot>
    </table>


</html>