<head>    <!-- DataTables CSS -->
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
	
	<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	

<script type="text/javascript" charset="utf8">
(function($){

$(document).ready(function() {
    var testing = $('#example').DataTable( {
        "ajax": '/api/table/getReadyDetails',
        "columns": [
            { "data": "OrderId" },
            { "data": "ItemNumber" },
            { "data": "RequestCount" },
            { "data": "InventoryId" },
            { "data": "SKU" },
            { "data": "Name" },
            { "data": "Request_StreetSize" },
            { "data": "Size" },
            { "data": "SizeDiff" },
            { "data": "Location" }
        ]
    } );
    alert(
    testing
        .columns( 0 )
        .data()
        .eq( 0 )      // Reduce the 2D array into a 1D array of data
        .sort()       // Sort data alphabetically
        .unique()     // Reduce to unique values
    );
} );


}(jQuery));
        
</script>
</head>

<h2>Lace & Liberty Ready Orders</h2>
<table id="example" class="display"cellspacing="0" style="font-family:arial;font-size:10px">
        <thead>
            <tr>
                <th cellpadding="5px" >OrderId</th>
                <th>ItemNumber</th>
                <th>RequestCount</th>
                <th>InventoryId</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Request_StreetSize</th>
                <th>Size</th>
                <th>SizeDiff</th>
                <th>Location</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th cellpadding="5px" >OrderId</th>
                <th>ItemNumber</th>
                <th>RequestCount</th>
                <th>InventoryId</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Request_StreetSize</th>
                <th>Size</th>
                <th>SizeDiff</th>
                <th>Location</th>
            </tr>
        </tfoot>
    </table>


