<head>    <!-- DataTables CSS -->
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
	
	<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	

<script type="text/javascript" charset="utf8">
(function($){

$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": '/api/table/getReadyDetails',
        "columns": [
            { "data": "OrderId" }
        ]
    } );
} );


}(jQuery));
        
</script>
</head>

<h2>Lace & Liberty Ready Orders</h2>
<table id="example" class="display"cellspacing="0" style="font-family:arial;font-size:10px">
        <thead>
            <tr>
                <th cellpadding="5px" >OrderId</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th cellpadding="5px" >OrderId</th>
              
            </tr>
        </tfoot>
    </table>


